.App{
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}

.pop-movies{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

h2{
  text-align: center;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.parent-filter-container{
 margin-top: 20px;
 margin-left: 33.3%;
  text-align: center;
}
.filter-container{
  width: 50%;

  text-align: center;
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #fff;
  color: rgb(27, 211, 227);
  border-radius: 1rem;
  border: 2px solid rgb(142, 12, 147);
  background-color: rgb(217, 18, 223);
  font-weight: bold;
  cursor: pointer;

  
}

button{
  margin: 5px;
  align-items: center;
  background-color: rgb(217, 18, 223);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

button.active{
  background-color: rgb(23, 237, 76);
  color: rgb(255, 255, 255);
}

.header{
  margin: 0 auto;
  width: 70%;
  height: 100px;
  background-color: rgb(25, 48, 221);
}

.header-h1{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
}





